
__pycache__/
*.py[cod]
*$py.class
*.pyd


venv/
.venv/
env/
ENV/


build/
dist/
wheels/
*.egg
*.egg-info/


/*.spec


.env
.env.*
!.env.example
!.env.*.example


logs/
*.log

share/

.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/
.tox/


.idea/
.vscode/
*.swp
.spyderproject
.spyproject
.ropeproject

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini


*.tmp
*.bak
*.tar
*.tar.gz
